@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Arial, sans-serif;
    background: #f8f9fa;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.upload-box {
    border: 2px dashed gray;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s;
}

.upload-box:hover {
    border-color: blue;
}

/* Loader Animation */
.hidden {
    display: none;
}

.loader {
    border: 6px solid rgba(255, 255, 255, 0.2);
    border-top: 6px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Center the main waveform container */
#waveformContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#waveformWrapper {
    align-items: center; /* Aligns items vertically */
    justify-content: center; /* Centers them horizontally */
    
    /* Centering it inside a relative parent */
    margin: auto;
    margin-top: 300px; /* Adjust this as needed */

}
/* Style for the main waveform */
#waveform {
    width: 900px;
    height: 150px;
    background-color: #2d2d2d;
    border-radius: 8px;
    position: relative;
    justify-content: center;
    
}

/* Style for the play/pause button */
#playPauseBtn {
    height: 150px;
    width: 100px;
    background-color: #3b82f6;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#playPauseBtn:hover {
    background-color: #2563eb;
}

/* Stems */
#stemsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Space between the items */
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 900px;
    margin: 20px auto; /* Center it */
}

/* Each Stem */
.stem-item {
    width: 500px;
    height: 200px;
    background: #242424;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Stem Header (Label + Checkbox) */
.stem-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Stem Waveform */
.stem-waveform {
    height: 160px;
    width: 100%;
    background: #444;
    border-radius: 5px;
    margin-top: 5px;
}

.stem-volume {
    @apply w-full mt-2;
}